/* HTML element styles */
body {
    background-image: url("../images/background.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size:40px;
}

.container, .header-container {
    max-width: 960px;
    margin: 0 auto;
}

.center {
    text-align: center;
    margin: 10px;
}

button {
    cursor: pointer;
}

/* Header Styles */
header {
    background-color: black;
    color: white;
}

header h2 {
    display: inline-block;
    padding: 10px;
}

nav {
    float: right;
}

nav p {
    display:inline;
    background-color: grey;
    padding: 20px;
    line-height: 4;
    border-radius: 4px;
}

/* Button Styles*/
.button-list {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button-list button {
    max-width: 200px;
    height: 40px;
    margin: 10px 20px;
    border-radius: 5px;
    flex-grow: 1;
}

/* Show Info Styles */
.show-info {
    display: flex;
    /* flex-wrap: wrap; */
}
.poster-div img {
    margin: 30px;
    height: 350px;
}
.text-info {
    margin: auto 10px;
    font-size: 20px;
    line-height: 2;
}

/* Form Styles */
.form {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -200px;
    margin-left: -100px;
    opacity: 1;
    background-color: rgb(212, 212, 212);
    font-size: 20px;
    border-radius: 5px;
    border: 5px outset gray;
    padding: 10px;
    display: none;
}
input {
    margin: 15px 0;
}

/* Gif Grid Styles */
.gif-list, .favorite-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gif-div {
    margin: 10px;
    padding: 10px;
    max-width: 333px;
    text-align:center;
}
.gif-div button{
    margin: 2px 5px 0 0;
    border-radius: 2px;
}

/* Clearfix */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  /* On Hover On Click Styles */
  nav p:hover {
    cursor: pointer;
    background-color: rgb(160, 160, 160);
  }
  header h2:hover {
    cursor: pointer;
    color: rgb(209, 209, 209);
  }

  @media screen and (max-width: 960px) {
    .button-list button {
        margin: 5px;
    }
    /* Show Info Styles */
    
    .poster-div img {
        margin: 30px;
        height: 200px;
    }
    .text-info {
        margin: auto 10px;
        font-size: 15px;
        line-height: 2;
    }
    .text-info h2 {
        font-size: 20px;
    }
  }

  @media screen and (max-width: 618px) {
    header h2 {
        display: block;
        padding: 5px;
        text-align: center;
    }
    
    nav {
        float: none;
        display: flex;
        justify-content: center;
    }
    
    nav p {
        display:block;
        background-color: grey;
        padding: 0 10px;;
        margin: 2px 5px;
        border-radius: 4px;
        text-align: center;
        line-height: 2;
    }
    .text-info {
        line-height: 1.2;
    }

  }